* {
  text-align: center;
  box-sizing: border-box;
  margin: 0 auto;
  padding: 0;
}

.overlay {
  height: 100vh;
  width: 100vw;
  background: linear-gradient(45deg, rgba(43, 75, 111, 0.4),  rgba(174, 187, 201, 0.4), rgba(232, 232, 232, 0.4))
}

#main {
  height: 100vh;
  width: 100vw;
}

#app{
  background-image: url('../image/one.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}

body{
  background: #f4f4f4;
}

#sidebar {
  width: 20vw;
  background: rgba(89, 153, 203, 0.5);
  height: 85vh;
}

#boardContainer {
  background: rgba(250, 250, 250, 0.9);
  width: 75vw;
  height: 85vh;
  display:block; .perspective;
}

#import {
  color: red;
}

#login-wrapper {
  display: flex;
  justify-content: center;
}
  
  .user-login {
    height: 300px;
    width: 300px;
  }
  
  button {
    margin-left: 29px; 
  }

.flexRow {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.flexColumn {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.textTitle {
  color: white;
  font-size: 1.2em;
}

.textInput {
  height: 55vh;
  width: 18vw;
  resize: none;
  text-align: left;
}
